{% extends 'base.html' %}

{% block content %}
<!-- section à propos-->
    <section>
        <div class="border-solid border-2 border-black">
            <div class="border-solid border-2 border-yellow-200">
                <div class="border-solid border-2 border-indigo-200">
                    <h1>
                        Priscillien Herbet
                    </h1>
                </div>
                <div class="border-solid border-2 border-green-200">
                    <h4>
                        Développeur Informatique
                    </h4>
                </div>
            </div>
            <div class="border-solid border-2 border-purple-200">
                <div class="border-solid border-2 border-pink-200">
                    <h6>
                        A propos:
                    </h6>
                    <p>
                    {% lorem 2 b random %}
                    </p>
                </div>
                <div class="border-solid border-2 border-red-800">
                    <img src="" alt="photo de moi">
                </div> 
            </div>
        </div>
    </section>
    <!-- section ressources et compétences --> 
    <section>
        <div><!-- ressources -->
            {% for ressource in ressources %}
                <h5> {{ ressource.name_ressource }} </h5>
                    <img src="{{ ressource.icon_ressource.url }}" alt="logo du site ">
                    <a href="{{ressource.url_ressource}}">github</a>
            {% endfor %}
        </div>
        <div><!-- compétences -->
            {% for type_competence in type_competences %}
                <h5>{{ type_competence }}</h5>
                    {% for competence in competences %}
                        {% if competence.type_competence == type_competence %}
                            <p>{{ competence.name_competence}}</p>
                            <img src="{{ competence.imageUrl }}" >
                        {% endif %}
                    {% endfor %}
            {% endfor %}
        </div>
    </section>
    <!-- section diplôme et expériences professionnelle-->
    <section>
        <div><!-- diplôme -->
            {% for education in educations  %}
                <h5> {{ education.title }} </h5>
                    <p>{{ education.obtention_year }}</p>
            {% endfor %}
        </div>
        <div>
            {% for experience in experiences %}
            <h5>{{ experience.position }}</h5>
            <h6>{{ experience.company }} - {{ experience.period }}</h6>
            <p> {{ experience.mission }} </p>
            <img src="{{ experience.imageUrl }}" alt="logo de l'entreprise">
            {% endfor %}
        </div>
    </section>

{% endblock %}